.NavbarBorder{
  display: flex;
  justify-content: space-between;
  text-align: center;
 padding-top: 2%;
 height: 100px;

/* border: 1px solid white; */
}

.leftHeadings{
    display: flex;
    justify-content:space-around;
    text-align: center;
    /* border: 1px solid white; */
    width: 50%;
}
.rightHeading{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    margin-bottom: 3%;
    /* border: 1px solid yellow */
}
.title{
    font-weight: lighter;
    margin-top: 1rem;
}
.track{
    font-weight:100;
    margin-left: 6px;
    font-size: 35px;
}
.toggle{
    font-weight: 900;
    color: #e57cd8;
    font-size: 35px;
}
.demo_login_btn{
    /* margin-left: 6px; */
    margin-top: 1rem;
}
.tryFreeBtn{
    /* button{ */
    border-radius: 40px;
    width: 150px;
    background-color: #fce5d8;
    color: #e57cd8;
    height: 40px;
    font-size: large;
    font-weight: 700;
    margin-right: 2rem;
    margin-bottom: 1rem;
 
}
